<div id="page_wraper">
	<div id="profile_image">
		<%= image_tag "profile_avatar.jpeg" %>
	</div>

	<div style="padding-left: 35px;">
		<h1> Its Mr Cipher </h1>
		<p>
			ose Uribe and his girlfriend Zulma Rodriguez back in Colima, Mexico, a region of around 650,000 on the Pacific coast. They worked over an entire summer from Uribe’s childhood bedroom, building the original algorithm that matched drivers and riders. After Uber was formed in San Francisco in 2010, the company’s early engineers were mystified as to why much of the original code was in Spanish. The story is not all that unusual in Silicon Valley, where technology firms 
		</p>
	</div>
</div>